#bigHead{
	width: 100%;
	height: 194px;
}
#BOSS{
	
}



.header{
	width: 100%;
	height: 144px;
	background-color: #0d0d0d;
}
.header-Son{
	width: 1160px;
	height: 85px;
	margin: 0 auto;
	padding: 35px 0 23px 28px;
}
.header-Son1{
	float: left;
	width: 210px;
}
.header-Son2{
	float: right;
	height: 86px;
	line-height: 34px;
}
.header-Son2-one{
	float: right;
	margin: 25px 0 0 20px;
}
.header-Son2-two{
	float: right;
	margin: 25px 0 0 20px;	
}
.header-Son2 a{
	text-decoration: none;
	color: #e3e3e3;
}
.header-Son2-one:hover a{
	color: orange;
}
.Son2-one-a{
	display: inline-block;
	height: 40px;
	padding: 0 0 0 45px;
	cursor: pointer;
	background: url(../img/SY/SY_10.png) no-repeat;
}
.header-Son2-two:hover a{
	color: orange;
}
.Son2-two-a{
	display: inline-block;
	height: 40px;
	padding: 0 0 0 45px;
	cursor: pointer;
	background: url(../img/SY/SY_08.png) no-repeat;
}
.header-Son2-three{
	float: right;
	height: 40px;
	color: #e3e3e3;
	margin: 25px 0 0 20px;
	padding: 0 0 0 45px;
	background: url(../img/SY/SY_06.png) no-repeat;
}
.header-Son2 span{
	margin-left: 20px;
}




.header1{
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	background-color: #e4e2e3;
}
.header1-Son{
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	font-size: 18px;
}
.header1-Son a{
	text-decoration: none;
	color: #333333;
	margin-left: 75px;
	line-height: 50px;
	font-weight: 400;
}
.header1-Son a:hover{
	color: orange;
}


.yewu{
	width: 444px;
	height: 200px;
margin-left: 28px;


}
.abiao{
	color: #000000;
	text-decoration: none;
	font-size: 60px;
	position: relative;
		left:-26px ;
		top:-12px;
		font-family: "黑体";
		font-weight: 900;
}

.img{
	width: 30%;
	margin: 50px 50px;
}
#guanyuGY{
	width: 100%;
	height: 954px;
	background: #e3e3e3;
	text-align: center;
}
#zuoce{
	height: 531px;
	width: 315px;
	float: left;
	font-size: 14px;
	margin-left: 222px;
	background: #FEFBF2;
	text-align: center;
}
#youce{
	width: 600px;
	float: right;
	margin-right: 206px;
}
#tuo{
	width: 915px;
	margin-left: 222px;
	padding-left: 5px;
}
.kongbai{
	height: 594px;
}
#tuo{
	margin: 0 auto;
}
#zixun{
	width:905px;
	height: 900px;
}
.zixun{
	width: 412px;
	height: 320px;	
	position: relative;
	top: -333px;
	left: -242px;
	z-index: 2px;
}
.zhongxin{
	width: 500px;
	height: 340px;
	float: right;
	
	background: #E3E3E3;
}
#xin{
	width:493px ;
	height: 100px;
	background: floralwhite;
	position: relative;
	top: 115px;
	text-align: center;
}
.zhongxin #xin span{
	font-size: 22px;
	font-family: "黑体";
	}
.zhongxin1{
	width: 400px;
	height: 300px;
	margin-left: -500px;
	margin-top: 83px;
	background: #E3E3E3; 

	
}
.zhongxin1 #xin{
	width:268px ;
	height: 86px;
	background: floralwhite;

	text-align: center;
}
.zhongxin1 #xin span{
	font-size: 30px;
	font-family: "黑体";
	
}
.zhongxin2{
	width: 482px;
	height: 300px;
	margin-left: -526px;
	margin-top: -300px;
	background: #E3E3E3;
	float: right; 

}
.zhongxin2 #xin{
	width:377px ;
	height: 86px;
	background: floralwhite;

	text-align: center;
}
.zhongxin2 #xin span{
	font-size: 30px;
	font-family: "黑体";
	
}
.riqi{
	background: #464646;
	color: #FFFFFF;
	width: 75px;
	height: 84px;
	position: relative;
	right: 341px;top: -350px;
	
}
.riqi span{
 font-size: 20px;
}
.riqi1{
	background: #464646;
	color: #FFFFFF;
	width: 75px;
	height: 84px;
	position: relative;
	left: 70px;top: -434px;
	
}
.riqi1 span{
 font-size: 20px;
}
.yewu1{
	width: 385px;
	height: 200px;
margin-left: 28px;
margin-top: -150px;

}
#dibu{
	width: 100%;
	height: 793px;
	background:#E3E3E3 ;
}
#yang{
	width: 915px;
	
}

.dibu2{
	width: 915px;
}
.dibu3{
	width: 465px;
	
	float: right;
	position: relative;
	top: 80px;
}
.dibu1{
	width: 450px;
	height: 247px;
	background: white;
	float: left;
	position: relative;
	top: 80px;
	box-shadow: 2px 2px 10px #333333;
}
.dibu4{
	width: 450px;
	height: 247px;
	background: white;
	position: relative;
	left:-233px;top: 327px;
}