#bigHead{
	width: 100%;
	height: 194px;
}
.header{
	width: 100%;
	height: 144px;
	background-color: #0d0d0d;
}
.header-Son{
	width: 1160px;
	height: 85px;
	margin: 0 auto;
	padding: 35px 0 23px 28px;
}
.header-Son1{
	float: left;
	width: 210px;
}
.header-Son2{
	float: right;
	height: 86px;
	line-height: 34px;
}
.header-Son2-one{
	float: right;
	margin: 25px 0 0 20px;
}
.header-Son2-two{
	float: right;
	margin: 25px 0 0 20px;	
}
.header-Son2 a{
	text-decoration: none;
	color: #e3e3e3;
}
.header-Son2-one:hover a{
	color: orange;
}
.Son2-one-a{
	display: inline-block;
	height: 40px;
	padding: 0 0 0 45px;
	cursor: pointer;
	background: url(../img/SY/SY_10.png) no-repeat;
}
.header-Son2-two:hover a{
	color: orange;
}
.Son2-two-a{
	display: inline-block;
	height: 40px;
	padding: 0 0 0 45px;
	cursor: pointer;
	background: url(../img/SY/SY_08.png) no-repeat;
}
.header-Son2-three{
	float: right;
	height: 40px;
	color: #e3e3e3;
	margin: 25px 0 0 20px;
	padding: 0 0 0 45px;
	background: url(../img/SY/SY_06.png) no-repeat;
}
.header-Son2 span{
	margin-left: 20px;
}

.header1{
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	background-color: #e4e2e3;
}
.header1-Son{
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	font-size: 18px;
}
.header1-Son a{
	text-decoration: none;
	color: #333333;
	margin-left: 75px;
	line-height: 50px;
	font-weight: 400;
}
.header1-Son a:hover{
	color: orange;
}
.content-first {
	margin-top: -1px;
	width: 100%;
	
}


.content-first-child{
	z-index: 5;
	position: relative;
	width: 500px;
	height: 50px;
	background: #fff;
	border-radius: 30px;
}


.content-first-child {
	background: rgba(255, 255, 255, 0.6);
	padding: 0 30px;
	bottom: 207px;
	left: 425px;
	list-style: none;
}


.content-first-child div {
	float: left;
	width: 110px;
	text-align: center;
	line-height: 50px;
	margin: 0 20px;
}


.content-first-child a {
	text-align: left;
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-family: "黑体";
}
#content-childtwo-span{
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 10px;
	border: 3px #f5804b solid;
	margin: 0 2 -5px 0;	
}




.content-first-child .content-childone-span{
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 10px;
	border: 3px #FFFFFF solid;
	opacity: 0.0;
	margin: 0 2 -5px 0;
}


.content-first-child div:hover .content-childone-span{
	border: 3px #f5804b solid;
	opacity: 1.0;
}
#bottom{
	width: 100%;
    height: 250px;
    background: #0D0D0D;
}
.bottomZ{
	width: 800PX;
	height: 250px;
	margin: 0 auto;
}
.bottomZ1{
	width: 800PX;
	height: 250px;


}
#bottomZ3{
	width: 600PX;
	height: 150px;
	display: inline-block;
	margin-top: 60PX;
	line-height: 25px;
}
.bottomZ1-Left{
	font-size:18px ;
	font-weight:900 ;
	font-family: "微软雅黑";
	color: #fff;
	margin-top: 10px;
}




.bottomZ2{
	width: 155px;
	height: 100px;
	/*background-color: red;*/
	float: right;
	margin-top: 70px;
}


.bottomZ2-Kf{
	width: 150px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	color: #FFFFFF;
	border: 2px #FFFFFF solid;
	background-color: #000000;
	cursor: pointer;
}
.bottomZ2-Kf:hover{
	color: orange;
}
.bottomZ2-Wl{
	
	margin-top: 10px;
}
.bottomZ2-Wl span{
	display: inline-block;
	width: 25px;
	margin: 10px 11px;
	cursor: pointer;
}
.bottomZ2-Wl dt{
	float: left;
}
.bottomZ2-Wl dd{
	margin-top: 10px;
	margin-left: 1px;
	font-size: 10px;
	color: #FFFFFF;
}


.bottomZ2-Wl span:hover dd{
	color: orange;
}




#bottom{
	width: 100%;
    height: 250px;
    background: #0D0D0D;
}
.bottomZ{
	width: 800PX;
	height: 250px;
	margin: 0 auto;
}
.bottomZ1{
	width: 800PX;
	height: 250px;

}
#bottomZ3{
	width: 600PX;
	height: 150px;
	display: inline-block;
	margin-top: 60PX;
	line-height: 25px;
}
.bottomZ1-Left{
	font-size:18px ;
	font-weight:900 ;
	font-family: "微软雅黑";
	color: #fff;
	margin-top: 10px;
}


.bottomZ2{
	width: 150px;
	height: 100px;
	/*background-color: red;*/
	float: right;
	margin-top: 70px;
}

.bottomZ2-Kf{
	width: 150px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	color: #FFFFFF;
	border: 2px #FFFFFF solid;
	background-color: #000000;
	cursor: pointer;
}
.bottomZ2-Kf:hover{
	color: orange;
}
.bottomZ2-Wl{
	margin-top: 10px;
}
.bottomZ2-Wl span{
	display: inline-block;
	width: 25px;
	margin: 10px 9px;
	cursor: pointer;
}
.bottomZ2-Wl dt{
	float: left;
}
.bottomZ2-Wl dd{
	margin-top: 10px;
	margin-left: px;
	font-size: 10px;
	color: #FFFFFF;
}

.bottomZ2-Wl span:hover dd{
	color: orange;
}

a{
    text-decoration: none;
    color:#393939 ;	
	
}
#zi{
	display: inline-block;
	width: 100%;
	height: 100px;
	line-height: 100px;
	padding-left:200px ;
}
#xiabanbufen{
	position: relative;
	top: -54px;
	
}
#zhongjian{
	width: 100%;
	height: 2050px;
	background: #E3E3E3;	
}
#zhongjian1{
	width:1367px ;
	height: 1850px;
	background:#E3E3E3;
	float: right;
}
.zi1{
	color: #212121;
	font-size: 50px;
	font-weight: 900;
	width: 100%;
	height: 50px;
	text-align: center;
}
#shang1{
	width: 100%;
	height: 739px;
	
	margin-top:100px ;
	
}
#zuo1{
	
	height: 739px;
	width: 600px;
	float: right;
}
#you1{
	background: white;
	height: 739px;
	width: 600px;
	float: right;
}
#zhongjian1 form{
	margin-top:40px ;
	margin-left:30px ;
	font-size: 25px;
	color: #333333;
}
input{
	border: none;
	outline:none;
	}
#kuang1{
	width:540px ;
	height: 90px;
	border: 2px #5A5859 solid;
	line-height: 94px;
	text-align: center;
}
#kuang2{
	width:540px ;
	height: 90px;
	line-height: 94px;
	}
#kuang21{
	width:267px ;
	height: 90px;
	border: 2px #5A5859 solid;
	line-height: 94px;
	padding-left:13px ;
	float: left;
	}
#kuang22{
	width:223px ;
	height: 90px;
	border: 2px #5A5859 solid;
	line-height: 94px;
	padding-left:13px ;
	float: left;
	margin-left:16px ;
	}	
#kuang3{
	width:527px ;
	height: 90px;
	border: 2px #5A5859 solid;
	line-height: 94px;
	padding-left:13px ;
}
.kuang4{
	width:527px ;
	height: 194px;
	border: 2px #5A5859 solid;
	line-height: 94px;
	padding-left:13px ;
}
.kuang5{
	font-size: 40px;
	color: white;
	width:543px ;
	height: 80px;
	background: #666666;
	
}
#shang2{
	width: 100%;
	height: 739px;
	
	margin-top:100px ;
}
#zuo2{
	
	height: 739px;
	width: 600px;
	float: right;
}
#you2{
	background: white;
	height: 739px;
	width: 600px;
	float: right;
	}
.kuang6{
	width:527px ;
	height: 90px;
	border: 2px #5A5859 solid;
	line-height: 94px;
	padding-left:13px ;
	
}
