*{
	margin: 0px;
	padding: 0px;
	
}

#boss {
	width: 100%;
	margin: 0;
	padding: 0;
	
}

#bigHead {
	width: 100%;
	height: 194px;
}

.header {
	width: 100%;
	height: 144px;
	background-color: #0d0d0d;
}

.header-Son {
	width: 1160px;
	height: 85px;
	margin: 0 auto;
	padding: 35px 0 23px 28px;
}

.header-Son1 {
	float: left;
	width: 210px;
}

.header-Son2 {
	float: right;
	height: 86px;
	line-height: 34px;
}

.header-Son2-one {
	float: right;
	margin: 25px 0 0 20px;
}

.header-Son2-two {
	float: right;
	margin: 25px 0 0 20px;
}

.header-Son2 a {
	text-decoration: none;
	color: #e3e3e3;
}

.header-Son2-one:hover a {
	color: orange;
}

.Son2-one-a {
	display: inline-block;
	height: 40px;
	padding: 0 0 0 45px;
	cursor: pointer;
	background: url(../img/SY/SY_10.png) no-repeat;
}

.header-Son2-two:hover a {
	color: orange;
}

.Son2-two-a {
	display: inline-block;
	height: 40px;
	padding: 0 0 0 45px;
	cursor: pointer;
	background: url(../img/SY/SY_08.png) no-repeat;
}

.header-Son2-three {
	float: right;
	height: 40px;
	color: #e3e3e3;
	margin: 25px 0 0 20px;
	padding: 0 0 0 45px;
	background: url(../img/SY/SY_06.png) no-repeat;
}

.header-Son2 span {
	margin-left: 20px;
}

.header1 {
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	background-color: #e4e2e3;
}

.header1-Son {
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	font-size: 18px;
	font-family: "微软雅黑";
}

.header1-Son a {
	text-decoration: none;
	color: #333333;
	margin-left: 75px;
	line-height: 50px;
	font-weight: 400;
}

.header1-Son a:hover {
	color: orange;
}

#bottom{
	width: 100%;
    height: 250px;
    background: #0D0D0D;
}
.bottomZ{
	width: 800PX;
	height: 250px;
	margin: 0 auto;
}
.bottomZ1{
	width: 800PX;
	height: 250px;

}
#bottomZ3{
	width: 600PX;
	height: 150px;
	display: inline-block;
	margin-top: 60PX;
	line-height: 25px;
}
.bottomZ1-Left{
	font-size:18px ;
	font-weight:900 ;
	font-family: "微软雅黑";
	color: #fff;
	margin-top: 10px;
}


.bottomZ2{
	width: 150px;
	height: 100px;
	/*background-color: red;*/
	float: right;
	margin-top: 70px;
}

.bottomZ2-Kf{
	width: 150px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	color: #FFFFFF;
	border: 2px #FFFFFF solid;
	background-color: #000000;
	cursor: pointer;
}
.bottomZ2-Kf:hover{
	color: orange;
}
.bottomZ2-Wl{
	margin-top: 10px;
}
.bottomZ2-Wl span{
	display: inline-block;
	width: 25px;
	margin: 10px 9px;
	cursor: pointer;
}
.bottomZ2-Wl dt{
	float: left;
}
.bottomZ2-Wl dd{
	margin-top: 10px;
	margin-left: px;
	font-size: 10px;
	color: #FFFFFF;
}

.bottomZ2-Wl span:hover dd{
	color: orange;
}
#yewu{
	margin-top:60px ;
	
}
#spen1{
	font-size: 74px;
	color:#D5D4D4 ;
	font-family: '宋体'; 
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 50px;
}
#spen2{
	font-size:56px;
	font-family: '微软雅黑';
	font-weight: 800;
	color: #212121;
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 50px;
	margin-top:-50px ;
}
#tu1{
	
	width:1000px;
	height: 1000px;
	margin:100px auto;
}
#img1{
	width: 450px;
	height: 450px;
	background:url(../img/SY/SY_19.png)no-repeat;
	float: left;
	
}
#img2{
	width: 450px;
	height: 450px;
	background:url(../img/SY/SY_21.png)no-repeat;
	float: left;
	margin-left:100px;
}
#img3{
	width: 450px;
	height: 450px;
	background:url(../img/SY/SY_26.png)no-repeat;
	float: left;
	margin-top: 100px;
}
#img4{
	width: 450px;
	height: 450px;
	background:url(../img/SY/SY_27.png)no-repeat;
	float: left;
	margin-left:100px;
	margin-top: 100px;
}
#spen3{
	font-size: 74px;
	color:#D5D4D4 ;
	font-family: '宋体'; 
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 50px;
}
#spen4{
	font-size:56px;
	font-family: '微软雅黑';
	font-weight: 800;
	color: #212121;
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 50px;
	margin-top:-50px ;
}
#guanyuneirong{
	margin-top:50px ;
	width: 100%;
	background: #E3E3E3;
}
#neirong{
	width:1000px;
	height: 1000px;
	margin:100px auto;
	
}
#zuo1{
	width: 300px;
	height:500px ;
	float: left;
	background: white;
}
#you1{
	height:500px ;
	float: left;
}
#xia1 img{
	margin-top:40px ;
	width: 447px;
}
#spen5{
	font-size: 74px;
	color:#D5D4D4 ;
	font-family: '宋体'; 
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 50px;
}
#spen6{
	font-size:56px;
	font-family: '微软雅黑';
	font-weight: 800;
	color: #212121;
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 50px;
	margin-top:-50px ;
}
#zixun{
	width: 100%;
	height: 1050px;
	
	
}
#zixunneirong{
	width:1000px;
	height: 730px;
	margin:150px auto;
	
	
}
#zuo2{
	float: left;
	height:300px;
	width:500px;
	
	
}
#you2{
	
	width: 500px;
	height: 350px;
	background: #E3E3E3;
	float: right;
	margin-top: -30px;
	
}
#zuo3{
	
	width: 486px;
	height: 350px;
	background: #E5E5E5;
	float: left;
	margin-top: 100px;
}
#you3{
	
	width: 486px;
	height: 350px;
	background: #E5E5E5;
	float: right;
	margin-top: 100px;
	position:relative ;
	top: -20px;
}
#riqi{
	background:#8a8687 ;
	width: 60px;
	height: 60px;
	color: white;
	text-align: center;
	padding-top:20px ;
	position: relative;
	top: -80px;
	left: 83px;
}
#riqi1{
	background:#8a8687 ;
	width: 60px;
	height: 60px;
	color: white;
	text-align: center;
	padding-top:20px ;
	position: relative;
	top: -80px;
	left: 83px;
}
#spen7{
	font-size: 74px;
	color:#D5D4D4 ;
	font-family: '宋体'; 
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 50px;
}
#spen8{
	font-size:56px;
	font-family: '微软雅黑';
	font-weight: 800;
	color: #212121;
	text-align: center;
	display: inline-block;
	width: 100%;
	height: 50px;
	margin-top:-50px ;
}
#jiaru{
	width: 100%;
	height: 1100px;
	
	
}
#jiaruneirong{
	width:1000px;
	height: 700px;
	margin:100px auto;
	background: #E3E3E3;
	
}
#zuo4{
	width: 400px;
	height: 300px;
	
}
#zuo5{
	width: 400px;
	height: 300px;
	
	
}
#zuo6{
	float: left;
	width:400px ;
	height:600px ;
	margin-top: 50px;
	
}
#you4{
	width: 600px;
	height: 600px;
	float: right;
	margin-top: 50px;
}
