		#bigHead{
	width: 100%;
	height: 3350px;
}




.header{
	width: 100%;
	height: 144px;
	background-color: #0d0d0d;
}
.header-Son{
	width: 1160px;
	height: 85px;
	margin: 0 auto;
	padding: 35px 0 23px 28px;
}
.header-Son1{
	float: left;
	width: 210px;
}
.header-Son2{
	float: right;
	height: 86px;
	line-height: 34px;
}
.header-Son2-one{
	float: right;
	margin: 25px 0 0 20px;
}
.header-Son2-two{
	float: right;
	margin: 25px 0 0 20px;	
}
.header-Son2 a{
	text-decoration: none;
	color: #e3e3e3;
}
.header-Son2-one:hover a{
	color: orange;
}
.Son2-one-a{
	display: inline-block;
	height: 40px;
	padding: 0 0 0 45px;
	cursor: pointer;
	background: url(../img/SY/SY_10.png) no-repeat;
}
.header-Son2-two:hover a{
	color: orange;
}
.Son2-two-a{
	display: inline-block;
	height: 40px;
	padding: 0 0 0 45px;
	cursor: pointer;
	background: url(../img/SY/SY_08.png) no-repeat;
}
.header-Son2-three{
	float: right;
	height: 40px;
	color: #e3e3e3;
	margin: 25px 0 0 20px;
	padding: 0 0 0 45px;
	background: url(../img/SY/SY_06.png) no-repeat;
}
.header-Son2 span{
	margin-left: 20px;
}




.header1{
	width: 100%;
	height: 50px;
	margin: 0;
	padding: 0;
	background-color: #e4e2e3;
}
.header1-Son{
	width: 1000px;
	height: 50px;
	margin: 0 auto;
	font-size: 18px;
}
.header1-Son a{
	text-decoration: none;
	color: #333333;
	margin-left: 75px;
	line-height: 50px;
	font-weight: 400;
}
.header1-Son a:hover{
	color: orange;
}
.content-first {
	margin-top: -1px;
	width: 100%;
	
}


.content-first-child{
	z-index: 5;
	position: relative;
	width: 500px;
	height: 50px;
	background: #fff;
	border-radius: 30px;
}


.content-first-child {
	background: rgba(255, 255, 255, 0.6);
	padding: 0 30px;
	bottom: 207px;
	left: 425px;
	list-style: none;
}


.content-first-child div {
	float: left;
	width: 110px;
	text-align: center;
	line-height: 50px;
	margin: 0 20px;
}


.content-first-child a {
	text-align: left;
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-family: "黑体";
}
#content-childtwo-span{
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 10px;
	border: 3px #f5804b solid;
	margin: 0 2 -5px 0;	
}




.content-first-child .content-childone-span{
	width: 10px;
	height: 10px;
	display: inline-block;
	border-radius: 10px;
	border: 3px #FFFFFF solid;
	opacity: 0.0;
	margin: 0 2 -5px 0;
}


.content-first-child div:hover .content-childone-span{
	border: 3px #f5804b solid;
	opacity: 1.0;
}
#bottom{
	width: 100%;
    height: 250px;
    background: #0D0D0D;
}
.bottomZ{
	width: 800PX;
	height: 250px;
	margin: 102px auto;
}
.bottomZ1{
	width: 800PX;
	height: 250px;


}
#bottomZ3{
	width: 600PX;
	height: 150px;
	display: inline-block;
	margin-top: 60PX;
	line-height: 25px;
}
.bottomZ1-Left{
	font-size:18px ;
	font-weight:900 ;
	font-family: "微软雅黑";
	color: #fff;
	margin-top: 10px;
}




.bottomZ2{
	width: 155px;
	height: 100px;
	/*background-color: red;*/
	float: right;
	margin-top: 70px;
}


.bottomZ2-Kf{
	width: 150px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	font-size: 16px;
	color: #FFFFFF;
	border: 2px #FFFFFF solid;
	background-color: #000000;
	cursor: pointer;
}
.bottomZ2-Kf:hover{
	color: orange;
}
.bottomZ2-Wl{
	
	margin-top: 10px;
}
.bottomZ2-Wl span{
	display: inline-block;
	width: 25px;
	margin: 10px 11px;
	cursor: pointer;
}
.bottomZ2-Wl dt{
	float: left;
}
.bottomZ2-Wl dd{
	margin-top: 10px;
	margin-left: 1px;
	font-size: 10px;
	color: #FFFFFF;
}


.bottomZ2-Wl span:hover dd{
	color: orange;
}
#xfy_toubu{
	width: 1100px;
	height: 480px;
	position: relative;
	left: 137px;top: 38px;
}
#xfy_toubu1{
	
	
	width: 400px;
	float: right;
	position: relative;
	left: -80px;top:0px;
}
#fangkuai{
	font-size: 20px;
	width: 59px;
	height: 39px;
	background: #E3E3E3;
	float: left;
}
#fangkuai1{
	font-size: 20px;
	width: 59px;
	height: 39px;
	background: #E3E3E3;
	position: relative;
	left: 0px;top: 34px;
}
#fangkuai2{
	font-size: 20px;
	width: 59px;
	height: 39px;
	background: #E3E3E3;
	position: relative;
	left: 0px;top: 34px;
}
#xfy_zhongjian{
	width: 100%;
	height: 500px;
	background: #E3E3E3;
}
#xfy_zhongjian img{
	
	float: right;
	position: relative;
	left: -130px;top: -226px;
}
#fangkuai00{
	font-size: 20px;
	width: 59px;
	height: 39px;
	background: white;
	float: left;
}
#fangkuai01{
	font-size: 20px;
	width: 59px;
	height: 39px;
	background:white;
	position: relative;
	left: 0px;top: 34px;
}
#fangkuai02{
	font-size: 20px;
	width: 59px;
	height: 39px;
	background: white;
	position: relative;
	left: 0px;top: 34px;
}
#xfy_zhongjian1{
	width: 400px;
	height: 310px;
	position: relative;
	left: 250px;top: 90px;
}
#xfy_zj{
	width: 1100px;
	height: 480px;
	position: relative;
	left: 137px;top: 73px;
	
}
#xfy_zj1{
	width: 500px;
	position: relative;
	left: 634px;top:-343px;
}
#zj01{
	font-size: 20px;
	width: 59px;
	height: 39px;
	background:#E3E3E3;
	float: left;
}
#zj02{
	font-size: 20px;
	width: 59px;
	height: 39px;
	background:#E3E3E3;
	position: relative;
	left: 0px;top:37px;
}
#zj03{
	font-size: 20px;
	width: 59px;
	height: 39px;
	background:#E3E3E3;
	position: relative;
	left: 0px;top: 35px;
}
#xfy_db{
	width: 100%;
	height: 500px;
	background: #E3E3E3;
	
}
#xfy_db1{
	width: 400px;
	height: 310px;
	position: relative;
	left: 250px;top: 90px;
}
#xfy_db img{
	float: right;
	position: relative;
	left: -130px;top: -226px;
}
#db1{
	font-size: 20px;
	width: 59px;
	height: 39px;
	background:white;
	float: left;
}
#db2{
	font-size: 20px;
	width: 59px;
	height: 39px;
	background:white;
	position: relative;
	left: 0px;top:37px;
}
#db3{
	font-size: 20px;
	width: 59px;
	height: 39px;
	background:white;
	position: relative;
	left: 0px;top: 35px;
}
